emailRespond.json
{
  "name": "emailRespond",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "9faadea0-b335-4b09-90c1-ee091436ad77",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "UazJlRaZpTBJmhtZ",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "740f066b-87d6-46f6-87ae-e39884f9f6f8",
              "name": "threadID",
              "value": "={{ $json.threadId }}",
              "type": "string"
            },
            {
              "id": "b4b84e9f-af0a-4baf-b3a2-66f2aa131ae8",
              "name": "emailSubject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "813a6350-71a3-4561-95fa-3d7dc7f01c7c",
              "name": "emailBody",
              "value": "={{ $json.snippet }}",
              "type": "string"
            },
            {
              "id": "a0d9a4a6-7f5c-4b06-a502-ed6d8221a21e",
              "name": "emailFrom",
              "value": "={{ $json.From }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "63369cd2-e129-4d78-9343-8367808ff8d8",
      "name": "Set Content"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Prompt:\nAnalyze the content of the following email and determine whether it is related to customer support. If the email pertains to any of the following topics, mark customerSupport as true; otherwise, mark it as false.\n\nCustomer Support Topics Include:\nQuestions about order status, tracking, or changes\nIssues with damaged or defective products\nRefund or return requests\nSubscription cancellations or adjustments\nTechnical issues with products, website, or app\nPayment or billing inquiries\nRequests for speaking with a support representative\n\nOutput:\nProvide the result in JSON format with a field named \"customerSupport\" set to true or false."
            },
            {
              "content": "=Here is the incoming email:  {{ $json.emailBody }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_object"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "2cb8aeb0-a4f6-468a-8c11-c737d0e20b7c",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "OwDf6bNjW0aqF76b",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output[0].content[0].text.customerSupport }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "f77ef743-9a10-47bf-bdba-e3caf0915482"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Customer Support"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "18d982de-7b2e-447a-aefd-a5b20fdbde23",
                    "leftValue": "={{ $json.output[0].content[0].text.customerSupport }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "false",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Not Customer Support"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        768,
        0
      ],
      "id": "e548c5fb-8854-4e17-a870-7cb52f0ac236",
      "name": "Customer Support?"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Set Content').item.json.emailBody }}",
        "options": {
          "systemMessage": "You are a helpful, polite, and empathetic customer support assistant for an online store called NovaTech. \nYour goal is to understand the user's message, identify their issue, and provide a clear and concise response.\n\nGuidelines:\n- Always respond in a friendly and professional tone.\n- Apologize if the user expresses frustration or inconvenience.\n- If the message involves an order, damaged product, refund, or billing issue, provide next-step instructions.\n- If you are unsure about something, reassure the customer and suggest that a human representative will follow up.\n- Use short paragraphs and avoid technical jargon.\n- Always end with a helpful, positive closing line such as:\n  “Please let me know if there’s anything else I can do for you!” or “We’re happy to help anytime!”\n\nContext:\n- Company: NovaTech\n- Products: electronics and smart home devices\n- Support hours: Monday to Friday, 9 AM – 6 PM\n- Email signature: \n  “Best regards,\n   NovaTech Support Team”\n\nGoal:\nProvide complete and human-like responses that make the customer feel supported, informed, and valued.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1072,
        -224
      ],
      "id": "c9e07407-3539-4e45-a3ca-8dcfc771da09",
      "name": "Customer Support Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        -64
      ],
      "id": "4c83a848-fdb7-446a-a0de-40462dac6012",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OwDf6bNjW0aqF76b",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "description": "Retrieves Information about our customer support policies and FAQs"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        1232,
        -16
      ],
      "id": "0cd2dac8-7b7a-4671-abde-66060ab15dbb",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1408,
        144
      ],
      "id": "f02ede64-54fb-45c7-b00b-d0fd55a08029",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "OwDf6bNjW0aqF76b",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "demo",
          "mode": "list",
          "cachedResultName": "demo"
        },
        "options": {
          "pineconeNamespace": "customerSupport"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1056,
        160
      ],
      "id": "8c729bcf-37be-4db6-a4d9-57417dd2786a",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "bBjcOZGuoguskZob",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1072,
        304
      ],
      "id": "b07624a6-8538-4cd2-b137-709cf77e054d",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "OwDf6bNjW0aqF76b",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.id }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1360,
        -224
      ],
      "id": "5b1e61fe-5dd2-4cf5-8085-5d014c71afe4",
      "name": "Reply to a message",
      "webhookId": "03f37933-6852-4586-9b14-cdc24bc8d097",
      "credentials": {
        "gmailOAuth2": {
          "id": "UazJlRaZpTBJmhtZ",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "19a6a010cb13b1f0",
          "threadId": "19a6a010cb13b1f0",
          "snippet": "Hello, I want a refund",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 5659,
          "historyId": "542284",
          "internalDate": "1762715028000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "IMPORTANT",
              "name": "IMPORTANT"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "\"Jose Antonio Moreno Gómez\" <josemomg@gmail.com>",
          "Subject": "Refund",
          "To": "josemomgc@gmail.com"
        }
      }
    ]
  },
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Set Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Content": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Customer Support?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support?": {
      "main": [
        [
          {
            "node": "Customer Support Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "Customer Support Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Customer Support Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e8739b0a-133e-4321-aee8-fb09e88fbef2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "339df894d67f6400d5ff02a70dc204ac25c0b9ec45f05d629fe993af74d65958"
  },
  "id": "RnVjTC7S5XnleV2P",
  "tags": []
}